#app main {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    height: calc(100vh - 3.2rem);
    padding: 1rem;
}

.light {
    background-color: #fff;
    color: #333366;
    transition: all .5s;
}

.dark {
    background-color: #212121;
    color: #E5E5E5;
    transition: all .5s;
}

#logo {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    margin: 4rem 0 1rem 0;
}

.source-link {
    color: #BDBDBD;
    font-size: 0.9rem;
}

.source-link:hover {
    font-size: 0.9rem;
    color: #00ccff;
}

.source-link:visited {
    color: #BDBDBD;
    font-size: 0.9rem;
}

.text-t4 {
    font-size: 2rem;
    line-height: 3.5rem;
    margin: 0;
}

.text-p{
    line-height: 1.4rem;
    font-size: 1rem;
}

.text-code {
    background-color: #EBEBEB;
    color: #212121;
    padding: 2px 4px;
    border-radius: 4px;
}

.text-component-desc {
    font-size: 0.9rem;
    margin: 0.4rem;
    line-height: 1.2rem;
}

.text-route {
    color: rgba(0, 153, 255, 0.9)
}

.text-layout {
    color: rgba(0, 153, 255, 0.5)
}

.normal-btn {
    margin: 0.5rem 0;
    padding: 0.4rem 1.2rem;
    font-size: 0.9rem;
    border-radius: 0.6rem;
    background-color: transparent;
    cursor: pointer;
}

.theme-ctrl-btn {
    border-color: #ff3399;
    color: #ff3399;
}

/* mobile device */
@media screen and (max-width: 480px) {
    html {
        font-size: 14px;
    }
    #app main {
        height: device-height;
    }

    .text-t4 {
        font-size: 1.5rem;
        line-height: 2.4rem;
    }
}
